.score-container {
    width: 100%;
    text-align: center;
}

.score-container .score {
    font-size: 5em;
}

.full-width {
    width: 100%;
    margin: 0;
    padding: 7px;
    font-size: 1.3em;
}

.notyet {
    color: darkred;
    font-style: italic;
}

.done {
    color: darkgreen;
    font-style: italic;
}